{
      "_source": false,
      "size": 20,
      "fields": [
        "title",
        "annual-tax",
        "maintenance-fee",
        "number-of-bathrooms",
        "number-of-bedrooms",
        "square-footage",
        "home-price",
        "property-features",
        "property-description",
        "geo_point"
      ],
      "retriever": {
        "rrf": {
          "rank_window_size": 100,
          "rank_constant": 60,
          "filter": {
            "bool": {
              "must": [
                {{#filtersJson}}{{{filtersJson}}}{{/filtersJson}}
                {{^filtersJson}}{{/filtersJson}}
              ]
            }
          },
          "retrievers": [
            {
              "standard": {
                "query": {
                  "semantic": {
                    "field": "property-description_semantic",
                    "query": "{{query}}"
                  }
                }
              }
            },
            {
              "standard": {
                "query": {
                  "semantic": {
                    "field": "property-features_semantic",
                    "query": "{{query}}"
                  }
                }
              }
            }
            {{#features}},
            {
              "standard": {
                "query": {
                  "multi_match": {
                    "query": "{{features}}",
                    "fields": ["property-features", "property-features.keyword"]
                  }
                }
              }
            }
            {{/features}}
          ]
        }
      }
    }