{
  "_source": false,
  "size": 10,
  "fields": [
    "title",
    "annual-tax",
    "maintenance-fee", 
    "number-of-bathrooms",
    "number-of-bedrooms",
    "square-footage",
    "home-price",
    "property-features",
    "property-description"
  ],
  "query": {
    "bool": {
      "must": [
        {{#query}}{
          "multi_match": {
            "query": "{{query}}",
            "fields": ["title^3", "property-description^2", "property-features"],
            "type": "best_fields",
            "fuzziness": "AUTO"
          }
        }{{/query}}
        {{#features}}{{#query}},{{/query}}{
          "multi_match": {
            "query": "{{features}}",
            "fields": ["property-features^2", "property-description"],
            "type": "cross_fields"
          }
        }{{/features}}
      ],
      "filter": [
        {{#distance}}{
          "geo_distance": {
            "distance": "{{distance}}",
            "location": {
              "lat": {{latitude}},
              "lon": {{longitude}}
            }
          }
        }{{/distance}}
        {{#bedrooms}}{{#distance}},{{/distance}}{
          "range": {
            "number-of-bedrooms": {
              "gte": {{bedrooms}}
            }
          }
        }{{/bedrooms}}
        {{#bathrooms}}{{#distance}}{{^bedrooms}},{{/bedrooms}}{{/distance}}{{#bedrooms}},{{/bedrooms}}{
          "range": {
            "number-of-bathrooms": {
              "gte": {{bathrooms}}
            }
          }
        }{{/bathrooms}}
        {{#maintenance}}{{#distance}}{{^bedrooms}}{{^bathrooms}},{{/bathrooms}}{{/bedrooms}}{{/distance}}{{#bedrooms}}{{^bathrooms}},{{/bathrooms}}{{/bedrooms}}{{#bathrooms}},{{/bathrooms}}{
          "range": {
            "maintenance-fee": {
              "lte": {{maintenance}}
            }
          }
        }{{/maintenance}}
        {{#square_footage}}{{#distance}}{{^bedrooms}}{{^bathrooms}}{{^maintenance}},{{/maintenance}}{{/bathrooms}}{{/bedrooms}}{{/distance}}{{#bedrooms}}{{^bathrooms}}{{^maintenance}},{{/maintenance}}{{/bathrooms}}{{/bedrooms}}{{#bathrooms}}{{^maintenance}},{{/maintenance}}{{/bathrooms}}{{#maintenance}},{{/maintenance}}{
          "range": {
            "square-footage": {
              "gte": {{square_footage}}
            }
          }
        }{{/square_footage}}
        {{#home_price}}{{#distance}}{{^bedrooms}}{{^bathrooms}}{{^maintenance}}{{^square_footage}},{{/square_footage}}{{/maintenance}}{{/bathrooms}}{{/bedrooms}}{{/distance}}{{#bedrooms}}{{^bathrooms}}{{^maintenance}}{{^square_footage}},{{/square_footage}}{{/maintenance}}{{/bathrooms}}{{/bedrooms}}{{#bathrooms}}{{^maintenance}}{{^square_footage}},{{/square_footage}}{{/maintenance}}{{/bathrooms}}{{#maintenance}}{{^square_footage}},{{/square_footage}}{{/maintenance}}{{#square_footage}},{{/square_footage}}{
          "range": {
            "home-price": {
              "lte": {{home_price}}
            }
          }
        }{{/home_price}}
      ]
    }
  }{{#ltr_model_available}},
  "rescore": {
    "window_size": 100,
    "query": {
      "rescore_query": {
        "sltr": {
          "_name": "logged_featureset",
          "model": "{{ltr_model_name}}",
          "params": {
            "keywords": "{{query}}{{#features}} {{features}}{{/features}}"
          }
        }
      }
    }
  }{{/ltr_model_available}}
}
